@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/500.css";
@import "@fontsource/montserrat/600.css";
@import "@fontsource/montserrat/700.css";

@import "tailwindcss";
@import "./tokens.css";

.nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.35em; /* tweak for font size */
  height: 1px; /* bar thickness */
  background: var(--color-brand); /* my brand color */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease;
}

.nav-link:hover::after,
.nav-link:focus-visible::after {
  transform: scaleX(1);
}

@media (prefers-reduced-motion: reduce) {
  .nav-link::after {
    transition: none;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }
}
